body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header_1{
    color: #e98208;
    font-size : 40px;
}

.MyClock {
    color: #e98208;
    font-size: 50px;
}

#zaman {
    color: #e98208;
    font-size: 50px;
}

#day{
    color: #e98208;
    font-size: 50px;
}

.article {
    display: grid;
    place-items: center;
}

.info {
    color: #e98208;
    font-size: 40px;

}